<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">
      
       
    <!--开启注解功能 -->
    <context:annotation-config/>

    <!-- 扫描package，以完成Bean创建和自动依赖注入的功能 -->
    <context:component-scan base-package="com.convict.tbschedule"/>
	
	<!-- 导入配置 -->
	<import resource="spring-tbschedule.xml"/>
	
	<!-- 与上面的配置等价，下面的更容易理解 -->  
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	    <property name="locations"> <!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->  
	        <array>  
	            <value>classpath:conf.properties</value>  
	        </array>  
	    </property>  
	</bean>  

</beans>

